<%#= link_to 'Add a Cocktail', new_cocktail_path, {class: "btn btn-danger"} %>
<!-- <div class="col-xs-12 col-sm-4">
  <h1>Cocktails</h1>
  <%#= link_to 'Add a Cocktail', new_cocktail_path, {class: "btn btn-danger"} %>
</div> -->

<div class="wrapper">
  <div class="container">
    <% @cocktails.each do |cocktail| %>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h1><%= cocktail.name %></h1>
          <%= link_to 'Show', cocktail_path(cocktail), {class: "btn btn-danger"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>



