<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="card-form">
          <h2 class="text-center">New Cocktails</h2>
          <br>
          <br>
          <div class="center">
            <%= render 'form', cockatil: @cocktail %>
            <%= link_to 'Back', cocktails_path, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


