<div class="container padded">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <h1><%= @cocktail.name %></h1>
    <!-- <h4>Dose: <%#= @cocktail.dose %></h4>
    <h4>Ingredients: <%#= @cocktail.dose %></h4> -->
    <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
  </div>
</div>
